image: 'restyled/restyler-clang-format:12.0.1'
command:
  - clang-format
  - '-i'
arguments: []
include:
  - '**/*.c'
  - '**/*.cc'
  - '**/*.cpp'
  - '**/*.cxx'
  - '**/*.c++'
  - '**/*.C'
  - '**/*.cs'
  - '**/*.h'
  - '**/*.hh'
  - '**/*.hpp'
  - '**/*.hxx'
  - '**/*.h++'
  - '**/*.H'
  - '**/*.java'
  - '**/*.js'
  - '**/*.m'
interpreters: []
